# import libraries

In [6]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from utils import mygraph,analyze
import numpy as np

# Load datasets

In [5]:
y_train = pd.read_csv('../resources/data/y_train.csv')
y_train = analyze.reduce_mem_usage(y_train)

# Check uniques keys in table
print("rows in table :",y_train.shape[0])
print("key values    :",y_train.key_value.nunique())
y_train.head(2)

Memory usage of dataframe is 5.47 MB
Memory usage after optimization is: 1.71 MB
Decreased by 68.7%
rows in table : 358487
key values    : 358487

   key_value  target
0          0       0
1          1       0

In [10]:
sample_submission = pd.read_csv('../resources/data/sample_submission.csv')
sample_submission = analyze.reduce_mem_usage(sample_submission)
# Check uniques keys in table
print("rows in table :",sample_submission.shape[0])
print("key values    :",sample_submission.key_value.nunique())
y_train.head(2)

Memory usage of dataframe is 6.05 MB
Memory usage after optimization is: 1.89 MB
Decreased by 68.7%
rows in table : 396666
key values    : 396666

   key_value  target
0          0       0
1          1       0

In [7]:
se_train = pd.read_csv("../resources/data/se_train.csv")
se_train = analyze.reduce_mem_usage(se_train)
se_train.head(3)

Memory usage of dataframe is 41.02 MB
Memory usage after optimization is: 8.20 MB
Decreased by 80.0%

,key_value,edad,sexo,est_cvl,sit_lab,cod_ocu,ctd_hijos,flg_sin_email,ctd_veh,cod_ubi,lgr_vot,prv,dto,rgn,tip_lvledu
0,0,-0.983887,1,4,2,22,0.0,1,0.0,-0.070190,17,47,687,4,0
1,1,0.000953,1,4,1,22,0.0,1,1.0,-0.738770,10,186,849,6,0
2,2,0.531250,0,4,1,22,0.0,1,0.0,-0.297363,15,84,1405,1,7

In [8]:
se_test = pd.read_csv("../resources/data/se_test.csv")
se_test = analyze.reduce_mem_usage(se_test)
se_test.head(3)

Memory usage of dataframe is 45.39 MB
Memory usage after optimization is: 9.08 MB
Decreased by 80.0%

,key_value,edad,sexo,est_cvl,sit_lab,cod_ocu,ctd_hijos,flg_sin_email,ctd_veh,cod_ubi,lgr_vot,prv,dto,rgn,tip_lvledu
0,0,1.136719,0,4,2,29,0.0,0,0.0,0.043762,18,111,772,3,0
1,1,-1.513672,0,4,1,22,0.0,1,0.0,0.618652,25,127,949,5,7
2,2,-1.134766,0,4,1,22,0.0,0,0.0,0.043762,18,111,1296,3,5

In [12]:
# not apply in this challenge because the id in train and test have different meaning
intersection,different = analyze.intersection_columns(se_test.key_value,se_train.key_value,name1="train",name2="test")

# key_value in train          :  396609
# key_value in test           :  358428
# intersection                :  358386
# different                   :  38223
example intersection          :  [0, 1, 358485, 358486]
example different             :  [19746, 21193, 396664, 396665]

In [13]:
# not apply in this challenge because the id in train and test have different meaning
intersection,different = analyze.intersection_columns(sample_submission.key_value,y_train.key_value,name1="submission",name2="y_train")

# key_value in submission     :  396666
# key_value in y_train        :  358487
# intersection                :  358487
# different                   :  38179
example intersection          :  [0, 1, 358485, 358486]
example different             :  [358487, 358488, 396664, 396665]

In [14]:
# not apply in this challenge because the id in train and test have different meaning
intersection,different = analyze.intersection_columns(sample_submission.key_value,se_test.key_value,name1="submission",name2="y_train")

# key_value in submission     :  396666
# key_value in y_train        :  396609
# intersection                :  396609
# different                   :  57
example intersection          :  [0, 1, 396664, 396665]
example different             :  [8527, 17885, 394591, 395414]