# Loading Libraries

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from utils import mygraph,analyze

# Reading datasets

In [2]:
y_train = pd.read_csv('../resources/data/y_train.csv')
y_train = analyze.reduce_mem_usage(y_train)
print("rows in table :",y_train.shape[0])
print("key values    :",y_train.key_value.nunique())
sample_submission = pd.read_csv('../resources/data/sample_submission.csv')
sample_submission = analyze.reduce_mem_usage(sample_submission)
print("rows in table :",sample_submission.shape[0])
print("key values    :",sample_submission.key_value.nunique())

Memory usage of dataframe is 5.47 MB
Memory usage after optimization is: 1.71 MB
Decreased by 68.7%
rows in table : 358487
key values    : 358487
Memory usage of dataframe is 6.05 MB
Memory usage after optimization is: 1.89 MB
Decreased by 68.7%
rows in table : 396666
key values    : 396666

In [3]:
rcc_train = pd.read_csv("../resources/data/rcc_train.csv")
rcc_train = analyze.reduce_mem_usage(rcc_train)
rcc_train.head(3)

Memory usage of dataframe is 2086.83 MB
Memory usage after optimization is: 521.71 MB
Decreased by 75.0%

,codmes,key_value,condicion,tipo_credito,cod_instit_financiera,saldo,PRODUCTO,RIESGO_DIRECTO,COD_CLASIFICACION_DEUDOR
0,201711,4,0,12,33,-0.072571,6,-1,0
1,201711,4,0,12,33,-0.070618,7,-1,0
2,201711,4,0,12,61,-0.052063,5,-1,0

In [4]:
rcc_test = pd.read_csv("../resources/data/rcc_test.csv")
rcc_test = analyze.reduce_mem_usage(rcc_test)
rcc_test.head(3)

Memory usage of dataframe is 2358.75 MB
Memory usage after optimization is: 622.45 MB
Decreased by 73.6%

,codmes,key_value,condicion,tipo_credito,cod_instit_financiera,saldo,PRODUCTO,RIESGO_DIRECTO,COD_CLASIFICACION_DEUDOR
0,201811,1103,0,10,28.0,-0.072815,1.0,-1,0
1,201811,1103,0,10,28.0,-0.072876,5.0,-1,0
2,201811,1103,0,10,28.0,-0.065857,4.0,1,0

In [5]:
for df in [rcc_train,rcc_test]:
    #df['log_saldo'] = np.log(df.saldo+1)
    df['log_saldo'] = np.log((df.saldo>0)*df.saldo + (df.saldo<=0)*np.abs(df.saldo-0.0001))
    df['neg_saldo'] = df.saldo<0
bins = [-np.inf,0.2,3,30,300,np.inf]
[rcc_train,rcc_test] = analyze.feature_range([rcc_train,rcc_test],'saldo',bins,onehot=False)

In [6]:
rcc_test.head()

,codmes,key_value,condicion,tipo_credito,cod_instit_financiera,saldo,PRODUCTO,RIESGO_DIRECTO,COD_CLASIFICACION_DEUDOR,log_saldo,saldo_1
0,201811,1103,0,10,28.0,-0.072815,1.0,-1,0,-0.075562,1.0
1,201811,1103,0,10,28.0,-0.072876,5.0,-1,0,-0.075562,1.0
2,201811,1103,0,10,28.0,-0.065857,4.0,1,0,-0.068176,1.0
3,201811,1103,0,10,28.0,-0.072876,NaN,-1,0,-0.075562,1.0
4,201811,1104,0,13,3.0,0.583496,19.0,1,0,0.459961,2.0