# Loading Libraries

In [1]:
import pandas as pd
import numpy as np
import gc
import seaborn as sns
import matplotlib.pyplot as plt
from utils import mygraph,analyze
from datetime import datetime
from scipy.stats import mode
from tqdm import tqdm

# Reading datasets

In [2]:
y_train = pd.read_csv('../resources/data/y_train.csv')
y_train = analyze.reduce_mem_usage(y_train)
print("rows in table :",y_train.shape[0])
print("key values    :",y_train.key_value.nunique())
sample_submission = pd.read_csv('../resources/data/sample_submission.csv')
sample_submission = analyze.reduce_mem_usage(sample_submission)
print("rows in table :",sample_submission.shape[0])
print("key values    :",sample_submission.key_value.nunique())

Memory usage of dataframe is 5.47 MB
Memory usage after optimization is: 1.71 MB
Decreased by 68.7%
rows in table : 358487
key values    : 358487
Memory usage of dataframe is 6.05 MB
Memory usage after optimization is: 1.89 MB
Decreased by 68.7%
rows in table : 396666
key values    : 396666

In [3]:
rcc_train = pd.read_hdf('../resources/mydata/rcc_train.h5', 'results_table')
print(rcc_train.shape)
rcc_train['codmes']= pd.to_datetime(rcc_train['codmes'],format='%Y-%m-%d')#%d infer_datetime_format=True)
rcc_train = analyze.reduce_mem_usage(rcc_train)
rcc_train.head(3)

(30391626, 18)
Memory usage of dataframe is 1362.23 MB
Memory usage after optimization is: 1188.33 MB
Decreased by 12.8%

,codmes,key_value,condicion,tipo_credito,cod_instit_financiera,saldo,PRODUCTO,RIESGO_DIRECTO,COD_CLASIFICACION_DEUDOR,in_range_default,condicion_id,cod_instit_financiera_id,PRODUCTO_id,PRODUCTO_id_notexist,RIESGO_DIRECTO_id,log_saldo,neg_saldo,saldo_1
0,2017-11-01,4,0,12,33,-0.072571,6,-1,False,True,True,True,True,False,False,-2.621094,True,1.0
1,2017-11-01,4,0,12,33,-0.070618,7,-1,False,True,True,True,False,False,False,-2.648438,True,1.0
2,2017-11-01,4,0,12,61,-0.052063,5,-1,False,True,True,True,True,False,False,-2.953125,True,1.0

In [4]:
rcc_test = pd.read_hdf('../resources/mydata/rcc_test.h5', 'results_table')
print(rcc_test.shape)
rcc_test['codmes']= pd.to_datetime(rcc_test['codmes'],format='%Y-%m-%d')#%d infer_datetime_format=True)
rcc_test = analyze.reduce_mem_usage(rcc_test)
rcc_test.head(3)

(34351754, 18)
Memory usage of dataframe is 1572.50 MB
Memory usage after optimization is: 1375.94 MB
Decreased by 12.5%

,codmes,key_value,condicion,tipo_credito,cod_instit_financiera,saldo,PRODUCTO,RIESGO_DIRECTO,COD_CLASIFICACION_DEUDOR,in_range_default,condicion_id,cod_instit_financiera_id,PRODUCTO_id,PRODUCTO_id_notexist,RIESGO_DIRECTO_id,log_saldo,neg_saldo,saldo_1
0,2018-11-01,1103,0,10,28.0,-0.072815,1.0,-1,False,True,True,True,True,False,False,-2.617188,True,1.0
1,2018-11-01,1103,0,10,28.0,-0.072876,5.0,-1,False,True,True,True,True,False,False,-2.617188,True,1.0
2,2018-11-01,1103,0,10,28.0,-0.065857,4.0,1,False,True,True,True,True,False,False,-2.718750,True,1.0

In [5]:
productos = pd.read_hdf('../resources/mydata/productos.h5', 'results_table')
productos = analyze.reduce_mem_usage(productos)
productos.columns = ['description','PRODUCTO','producto_class','producto_credito']
productos.head(3)

Memory usage of dataframe is 0.00 MB
Memory usage after optimization is: 0.00 MB
Decreased by 42.4%

               description  PRODUCTO  producto_class  producto_credito
0        PRESTAMO PERSONAL         0               0                 0
1  RENDIMIENTOS DEVENGADOS         1               0                 0
2           LINEA TOTAL TC         2               0                 0

In [6]:
se_train = pd.read_csv("../resources/data/se_train.csv")
se_train = analyze.reduce_mem_usage(se_train)
se_train.head(3)

Memory usage of dataframe is 41.02 MB
Memory usage after optimization is: 8.20 MB
Decreased by 80.0%

,key_value,edad,sexo,est_cvl,sit_lab,cod_ocu,ctd_hijos,flg_sin_email,ctd_veh,cod_ubi,lgr_vot,prv,dto,rgn,tip_lvledu
0,0,-0.983887,1,4,2,22,0.0,1,0.0,-0.070190,17,47,687,4,0
1,1,0.000953,1,4,1,22,0.0,1,1.0,-0.738770,10,186,849,6,0
2,2,0.531250,0,4,1,22,0.0,1,0.0,-0.297363,15,84,1405,1,7

In [7]:
se_test = pd.read_csv("../resources/data/se_test.csv")
se_test = analyze.reduce_mem_usage(se_test)
se_test.head(3)

Memory usage of dataframe is 45.39 MB
Memory usage after optimization is: 9.08 MB
Decreased by 80.0%

,key_value,edad,sexo,est_cvl,sit_lab,cod_ocu,ctd_hijos,flg_sin_email,ctd_veh,cod_ubi,lgr_vot,prv,dto,rgn,tip_lvledu
0,0,1.136719,0,4,2,29,0.0,0,0.0,0.043762,18,111,772,3,0
1,1,-1.513672,0,4,1,22,0.0,1,0.0,0.618652,25,127,949,5,7
2,2,-1.134766,0,4,1,22,0.0,0,0.0,0.043762,18,111,1296,3,5

In [8]:
rcc_train_prod_cliente = pd.merge(rcc_train,productos, how='left', on=['PRODUCTO'])
rcc_train_prod_cliente = pd.merge(rcc_train_prod_cliente,se_train, how='left', on=['key_value'])
del rcc_train
del se_train
gc.collect()

0

In [9]:
rcc_test_prod_cliente = pd.merge(rcc_test,productos, how='left', on=['PRODUCTO'])
rcc_test_prod_cliente = pd.merge(rcc_test_prod_cliente,se_test, how='left', on=['key_value'])
del rcc_test
del se_test
gc.collect()

20

In [10]:
rcc_train_prod_cliente.head(2)

,codmes,key_value,condicion,tipo_credito,cod_instit_financiera,saldo,PRODUCTO,RIESGO_DIRECTO,COD_CLASIFICACION_DEUDOR,in_range_default,...,cod_ocu,ctd_hijos,flg_sin_email,ctd_veh,cod_ubi,lgr_vot,prv,dto,rgn,tip_lvledu
0,2017-11-01,4,0,12,33,-0.072571,6,-1,False,True,...,22.0,0.0,1.0,0.0,0.043427,18.0,111.0,391.0,3.0,0.0
1,2017-11-01,4,0,12,33,-0.070618,7,-1,False,True,...,22.0,0.0,1.0,0.0,0.043427,18.0,111.0,391.0,3.0,0.0

rcc_test_prod_cliente.head(2)

In [11]:
n = len(rcc_train_prod_cliente)
nunique = rcc_train_prod_cliente.nunique()
names_column = nunique.index
bynary_columns = nunique[nunique==2].index
unique_columns = nunique[nunique==1].index
rcc_train_prod_cliente.drop(columns = list(unique_columns),inplace =True)
names_column  = (set(names_column) - set(bynary_columns))-set(unique_columns)

In [12]:
nunique

codmes                          12
key_value                   358487
condicion                     7245
tipo_credito                     8
cod_instit_financiera          109
saldo                        16573
PRODUCTO                        42
RIESGO_DIRECTO                   5
COD_CLASIFICACION_DEUDOR         2
in_range_default                 2
condicion_id                     2
cod_instit_financiera_id         1
PRODUCTO_id                      2
PRODUCTO_id_notexist             2
RIESGO_DIRECTO_id                2
log_saldo                     8039
neg_saldo                        2
saldo_1                          5
description                     41
producto_class                   3
producto_credito                 2
edad                            80
sexo                             4
est_cvl                          6
sit_lab                          4
cod_ocu                         39
ctd_hijos                       12
flg_sin_email                    2
ctd_veh                         47
cod_ubi                        328
lgr_vot                         31
prv                            197
dto                           1662
rgn                              7
tip_lvledu                       8
dtype: int64

In [13]:
rcc_test_prod_cliente.drop(columns = list(unique_columns),inplace =True)

In [14]:
nunique[nunique.index.isin(names_column)]

codmes                       12
key_value                358487
condicion                  7245
tipo_credito                  8
cod_instit_financiera       109
saldo                     16573
PRODUCTO                     42
RIESGO_DIRECTO                5
log_saldo                  8039
saldo_1                       5
description                  41
producto_class                3
edad                         80
sexo                          4
est_cvl                       6
sit_lab                       4
cod_ocu                      39
ctd_hijos                    12
ctd_veh                      47
cod_ubi                     328
lgr_vot                      31
prv                         197
dto                        1662
rgn                           7
tip_lvledu                    8
dtype: int64

In [15]:
datetime_object = datetime.strptime('2018-02-01', '%Y-%m-%d')
rcc_train_prod_cliente['diff_month']  = ((datetime_object - rcc_train_prod_cliente.codmes).dt.days/30).astype(int)

In [16]:
datetime_object = datetime.strptime('2019-02-01', '%Y-%m-%d')
rcc_test_prod_cliente['diff_month']   = ((datetime_object - rcc_test_prod_cliente.codmes).dt.days/30).astype(int)

In [17]:
rcc_train_prod_cliente.head(2)

,codmes,key_value,condicion,tipo_credito,cod_instit_financiera,saldo,PRODUCTO,RIESGO_DIRECTO,COD_CLASIFICACION_DEUDOR,in_range_default,...,ctd_hijos,flg_sin_email,ctd_veh,cod_ubi,lgr_vot,prv,dto,rgn,tip_lvledu,diff_month
0,2017-11-01,4,0,12,33,-0.072571,6,-1,False,True,...,0.0,1.0,0.0,0.043427,18.0,111.0,391.0,3.0,0.0,3
1,2017-11-01,4,0,12,33,-0.070618,7,-1,False,True,...,0.0,1.0,0.0,0.043427,18.0,111.0,391.0,3.0,0.0,3

In [18]:
rcc_train_prod_cliente_short = rcc_train_prod_cliente.iloc[:100000]
rcc_train_prod_cliente_short.head()

,codmes,key_value,condicion,tipo_credito,cod_instit_financiera,saldo,PRODUCTO,RIESGO_DIRECTO,COD_CLASIFICACION_DEUDOR,in_range_default,...,ctd_hijos,flg_sin_email,ctd_veh,cod_ubi,lgr_vot,prv,dto,rgn,tip_lvledu,diff_month
0,2017-11-01,4,0,12,33,-0.072571,6,-1,False,True,...,0.0,1.0,0.0,0.043427,18.0,111.0,391.0,3.0,0.0,3
1,2017-11-01,4,0,12,33,-0.070618,7,-1,False,True,...,0.0,1.0,0.0,0.043427,18.0,111.0,391.0,3.0,0.0,3
2,2017-11-01,4,0,12,61,-0.052063,5,-1,False,True,...,0.0,1.0,0.0,0.043427,18.0,111.0,391.0,3.0,0.0,3
3,2017-11-01,4,0,11,32,-0.072449,8,1,False,True,...,0.0,1.0,0.0,0.043427,18.0,111.0,391.0,3.0,0.0,3
4,2017-11-01,4,0,12,61,-0.057892,0,1,False,True,...,0.0,1.0,0.0,0.043427,18.0,111.0,391.0,3.0,0.0,3

In [19]:
def float_to_float32(df):
    for name in df.columns:
        type_ = str(df[name].dtypes)
        if('float' in type_ or 'int' in type_):
            df[name] = df[name].astype(np.float32)
    return df

In [20]:
rcc_train_prod_cliente             = float_to_float32(rcc_train_prod_cliente)
rcc_train_prod_cliente.key_value   = rcc_train_prod_cliente.key_value.astype(int)
rcc_train_prod_cliente.diff_month  = rcc_train_prod_cliente.diff_month.astype(int)

In [21]:
rcc_test_prod_cliente             = float_to_float32(rcc_test_prod_cliente)
rcc_test_prod_cliente.key_value   = rcc_test_prod_cliente.key_value.astype(int)
rcc_test_prod_cliente.diff_month  = rcc_test_prod_cliente.diff_month.astype(int)

In [22]:
print(list(rcc_test_prod_cliente.columns))

['codmes', 'key_value', 'condicion', 'tipo_credito', 'cod_instit_financiera', 'saldo', 'PRODUCTO', 'RIESGO_DIRECTO', 'COD_CLASIFICACION_DEUDOR', 'in_range_default', 'condicion_id', 'PRODUCTO_id', 'PRODUCTO_id_notexist', 'RIESGO_DIRECTO_id', 'log_saldo', 'neg_saldo', 'saldo_1', 'description', 'producto_class', 'producto_credito', 'edad', 'sexo', 'est_cvl', 'sit_lab', 'cod_ocu', 'ctd_hijos', 'flg_sin_email', 'ctd_veh', 'cod_ubi', 'lgr_vot', 'prv', 'dto', 'rgn', 'tip_lvledu', 'diff_month']

In [23]:
ft={}
mode_agg = lambda x: x.mode().iloc[0]

mode_agg = lambda x: mode(x)[0][0]

lt = ['condicion','saldo','log_saldo']
for x in lt:
    ft[x]=['max','min','mean','sum']    

ft['ctd_hijos'] = ['count','max']
ft['ctd_veh'] = ['max']
'''
ft['ctd_hijos'] = ['count','max',mode_agg]
ft['ctd_veh'] = ['max',mode_agg]
ft['tipo_credito']=[mode_agg]
ft['cod_instit_financiera']=[mode_agg]
ft['PRODUCTO']=[mode_agg]
ft['RIESGO_DIRECTO']=[mode_agg]
ft['COD_CLASIFICACION_DEUDOR']=[mode_agg]
ft['in_range_default']=[mode_agg]
ft['condicion_id']=[mode_agg]
ft['PRODUCTO_id']=[mode_agg]
ft['PRODUCTO_id_notexist']=[mode_agg]
ft['RIESGO_DIRECTO_id']=[mode_agg]
ft['neg_saldo']=[mode_agg]
ft['saldo_1']=[mode_agg]
ft['description']=[mode_agg]
ft['producto_class']=[mode_agg]
ft['producto_credito']=[mode_agg]
ft['tip_lvledu']=[mode_agg]
#'''

"\nft['ctd_hijos'] = ['count','max',mode_agg]\nft['ctd_veh'] = ['max',mode_agg]\nft['tipo_credito']=[mode_agg]\nft['cod_instit_financiera']=[mode_agg]\nft['PRODUCTO']=[mode_agg]\nft['RIESGO_DIRECTO']=[mode_agg]\nft['COD_CLASIFICACION_DEUDOR']=[mode_agg]\nft['in_range_default']=[mode_agg]\nft['condicion_id']=[mode_agg]\nft['PRODUCTO_id']=[mode_agg]\nft['PRODUCTO_id_notexist']=[mode_agg]\nft['RIESGO_DIRECTO_id']=[mode_agg]\nft['neg_saldo']=[mode_agg]\nft['saldo_1']=[mode_agg]\nft['description']=[mode_agg]\nft['producto_class']=[mode_agg]\nft['producto_credito']=[mode_agg]\nft['tip_lvledu']=[mode_agg]\n#"

In [24]:
list(ft.keys())

['condicion', 'saldo', 'log_saldo', 'ctd_hijos', 'ctd_veh']

In [25]:
#del rcc_train_prod_cliente_agg
#gc.collect()

In [26]:
ids = list(rcc_train_prod_cliente.key_value.unique())

rcc_train_prod_cliente_agg = rcc_train_prod_cliente[rcc_train_prod_cliente.key_value ==ids[0]]
for id_ in tqdm(ids[1:]):
    rcc_train_prod_cliente_agg = pd.concat([rcc_train_prod_cliente_agg,rcc_train_prod_cliente[rcc_train_prod_cliente.key_value ==id_]])
rcc_train_prod_cliente_agg.head()

In [27]:
def agg_periods(df, rangos,list_names):
    for rango in tqdm(rangos):
        for columna_ in list_names:
            lista_columnas = []
            for j in range(rango[0],rango[1]+1):
                lista_columnas.append(columna_+'_'+str(j))
            df[columna_+str(rango[0])+'_'+str(rango[1])+'_Mean'] = df[lista_columnas].mean(axis=1)
            df[columna_+str(rango[0])+'_'+str(rango[1])+'_Sum'] = df[lista_columnas].sum(axis=1)
            df[columna_+str(rango[0])+'_'+str(rango[1])+'_Min'] = df[lista_columnas].min(axis=1)
            df[columna_+str(rango[0])+'_'+str(rango[1])+'_Max'] = df[lista_columnas].max(axis=1)
            df[columna_+str(rango[0])+'_'+str(rango[1])+'_STD'] = df[lista_columnas].std(axis=1)
            df[columna_+str(rango[0])+'_'+str(rango[1])+'_STD'] = df[lista_columnas].std(axis=1)
            if rango[1]>=3:
                df[columna_+str(rango[0])+'_'+str(rango[1])+'_SKEW'] = df[lista_columnas].skew(axis=1)
            if rango[1]>=4:
                df[columna_+str(rango[0])+'_'+str(rango[1])+'_KURT'] = df[lista_columnas].kurt(axis=1)
    return df

In [28]:
rcc_train_prod_cliente_agg = pd.pivot_table(rcc_train_prod_cliente,index=['key_value'], columns=['diff_month'],
                                            values=list(ft.keys()),aggfunc=ft,fill_value=0).reset_index()
rcc_train_prod_cliente_agg.columns = ['cliente_'+x[0]+'_'+str(x[1])+'_'+str(x[2]) if x[0] not in ['key_value'] else x[0] for idx,x in enumerate(rcc_train_prod_cliente_agg.columns)]


rcc_test_prod_cliente_agg = pd.pivot_table(rcc_test_prod_cliente,index=['key_value'], columns=['diff_month'],
                                            values=list(ft.keys()),aggfunc=ft,fill_value=0).reset_index()
aux = rcc_test_prod_cliente_agg.columns
rcc_test_prod_cliente_agg.columns = ['cliente_'+x[0]+'_'+str(x[1])+'_'+str(x[2]) if x[0] not in ['key_value'] else x[0] for idx,x in enumerate(rcc_test_prod_cliente_agg.columns)]

list_names = {}
for i in aux:
    if not i[0] in ['key_value']:
        list_names['cliente_'+i[0]+'_'+i[1]]=None
list_names = list_names.keys()

In [29]:
rcc_train_prod_cliente_agg.to_hdf('../resources/mydata/rcc_train_cliente_agg.h5', 'results_table', mode='w',format='table')
rcc_test_prod_cliente_agg.to_hdf('../resources/mydata/rcc_test_cliente_agg.h5', 'results_table', mode='w',format='table')

In [30]:
rangos = [[0,2],[0,3],[0,4],[0,5],[0,6],[0,7],[0,8],[0,9],[0,11]]

rcc_train_prod_cliente_periods_agg = agg_periods(rcc_train_prod_cliente_agg, rangos, list_names)
rcc_train_prod_cliente_periods_agg.columns = ['C_'+ x if x not in ['key_value'] else x for x in rcc_train_prod_cliente_periods_agg.columns]

rangos = [[0,2],[0,3],[0,4],[0,5],[0,6],[0,7],[0,8],[0,9],[0,11]]

rcc_test_prod_cliente_periods_agg = agg_periods(rcc_test_prod_cliente_agg, rangos, list_names)
rcc_test_prod_cliente_periods_agg.columns = ['C_'+ x if x not in ['key_value'] else x for x in rcc_test_prod_cliente_periods_agg.columns]

100%|████████████████████████████████████████████████████████████████████████████████████| 9/9 [08:51<00:00, 59.09s/it]
100%|████████████████████████████████████████████████████████████████████████████████████| 9/9 [09:47<00:00, 65.26s/it]

In [31]:
rcc_train_prod_cliente_periods_agg.head()

,key_value,C_cliente_condicion_max_0,C_cliente_condicion_max_1,C_cliente_condicion_max_2,C_cliente_condicion_max_3,C_cliente_condicion_max_4,C_cliente_condicion_max_5,C_cliente_condicion_max_6,C_cliente_condicion_max_7,C_cliente_condicion_max_8,...,C_cliente_saldo_min0_11_STD,C_cliente_saldo_min0_11_SKEW,C_cliente_saldo_min0_11_KURT,C_cliente_saldo_sum0_11_Mean,C_cliente_saldo_sum0_11_Sum,C_cliente_saldo_sum0_11_Min,C_cliente_saldo_sum0_11_Max,C_cliente_saldo_sum0_11_STD,C_cliente_saldo_sum0_11_SKEW,C_cliente_saldo_sum0_11_KURT
0,0,0,0,0,0,0,0,0,0,0,...,0.015578,1.324423,-0.328412,-0.170977,-2.051727,-0.294800,-0.005493,0.125654,0.242597,-1.944242
1,1,0,0,0,0,0,0,0,0,0,...,0.032904,-1.326657,-0.325886,-0.045016,-0.540192,-0.270599,0.000000,0.088033,-1.935775,3.198898
2,2,0,0,0,0,0,0,0,0,0,...,0.028367,-2.055237,2.640000,-0.030257,-0.363083,-0.212708,0.000000,0.071904,-2.209565,3.775615
3,3,0,0,0,0,0,0,0,0,0,...,0.028025,-2.055964,2.645394,0.016154,0.193848,0.000000,0.117371,0.038722,2.281636,4.299037
4,4,80,52,21,0,0,0,0,0,0,...,0.035112,0.805413,-1.650237,-0.301638,-3.619659,-0.770233,0.000000,0.303180,-0.478538,-1.588568

In [32]:
rcc_train_prod_cliente_periods_agg.to_hdf('../resources/mydata/rcc_train_cliente_periods_agg.h5', 'results_table', mode='w',format='table')

rcc_test_prod_cliente_periods_agg.to_hdf('../resources/mydata/rcc_test_cliente_periods_agg.h5', 'results_table', mode='w',format='table')

C:\Users\crist\.conda\envs\kaggle38\lib\site-packages\tables\leaf.py:353: RuntimeWarning: overflow encountered in long_scalars
  expected_mb = (expectedrows * rowsize) // MB

In [33]:
del rcc_train_prod_cliente_periods_agg
del rcc_test_prod_cliente_periods_agg
gc.collect()

128

In [34]:
ft={}
mode_agg = lambda x: x.mode().iloc[0]

mode_agg = lambda x: mode(x)[0][0]

lt = ['condicion','saldo','log_saldo']
for x in lt:
    ft[x]=['max','min','mean','sum']

In [35]:
rcc_train_prod_cliente.columns

Index(['codmes', 'key_value', 'condicion', 'tipo_credito',
       'cod_instit_financiera', 'saldo', 'PRODUCTO', 'RIESGO_DIRECTO',
       'COD_CLASIFICACION_DEUDOR', 'in_range_default', 'condicion_id',
       'PRODUCTO_id', 'PRODUCTO_id_notexist', 'RIESGO_DIRECTO_id', 'log_saldo',
       'neg_saldo', 'saldo_1', 'description', 'producto_class',
       'producto_credito', 'edad', 'sexo', 'est_cvl', 'sit_lab', 'cod_ocu',
       'ctd_hijos', 'flg_sin_email', 'ctd_veh', 'cod_ubi', 'lgr_vot', 'prv',
       'dto', 'rgn', 'tip_lvledu', 'diff_month'],
      dtype='object')

In [36]:
rcc_train_prod_cliente.PRODUCTO.unique()

array([  6.,   7.,   5.,   8.,   0.,   2.,   3.,   1., 255.,   9.,  10.,
         4.,  11.,  13.,  14.,  15.,  16.,  12.,  18.,  17.,  19.,  20.,
        21.,  22.,  29.,  30.,  25.,  31.,  28.,  23.,  24.,  32.,  27.,
        34.,  39.,  38.,  36.,  33.,  37.,  35.,  40.,  41.],
      dtype=float32)

In [37]:
del rcc_train_prod_cliente_agg
del rcc_test_prod_cliente_agg
gc.collect()

80

In [38]:
rcc_train_prod_cliente_agg = pd.pivot_table(rcc_train_prod_cliente,index=['key_value','PRODUCTO'], columns=['diff_month'],
                                            values=list(ft.keys()),aggfunc=ft,fill_value=0).reset_index()
rcc_train_prod_cliente_agg.columns = ['Prod_Cliente_'+x[0]+'_'+str(x[1])+'_'+str(x[2]) if x[0] not in ['key_value','PRODUCTO'] else x[0] for idx,x in enumerate(rcc_train_prod_cliente_agg.columns)]


rcc_test_prod_cliente_agg = pd.pivot_table(rcc_test_prod_cliente,index=['key_value','PRODUCTO'], columns=['diff_month'],
                                            values=list(ft.keys()),aggfunc=ft,fill_value=0).reset_index()
aux = rcc_test_prod_cliente_agg.columns
rcc_test_prod_cliente_agg.columns = ['Prod_Cliente_'+x[0]+'_'+str(x[1])+'_'+str(x[2]) if x[0] not in ['key_value','PRODUCTO'] else x[0] for idx,x in enumerate(rcc_test_prod_cliente_agg.columns)]

list_names = {}
for i in aux:
    if not i[0] in ['key_value','PRODUCTO']:
        list_names['Prod_Cliente_'+i[0]+'_'+i[1]]=None
list_names = list_names.keys()

In [39]:
rcc_train_prod_cliente_agg.to_hdf('../resources/mydata/rcc_train_PROD_cliente_agg.h5', 'results_table', mode='w',format='table')
rcc_test_prod_cliente_agg.to_hdf('../resources/mydata/rcc_test_PROD_cliente_agg.h5', 'results_table', mode='w',format='table')

rcc_train_prod_cliente_agg = pd.read_hdf('../resources/mydata/rcc_train_prod_cliente_agg.h5', 'results_table')
rcc_test_prod_cliente_agg = pd.read_hdf('../resources/mydata/rcc_test_prod_cliente_agg.h5', 'results_table')

In [40]:
rangos = [[0,2],[0,5],[0,8]]

rcc_train_prod_cliente_periods_agg = agg_periods(rcc_train_prod_cliente_agg, rangos, list_names)
rcc_train_prod_cliente_periods_agg.columns = ['C_'+ x if x not in ['key_value','PRODUCTO'] else x for x in rcc_train_prod_cliente_periods_agg.columns]

rangos = [[0,2],[0,5],[0,8]]

rcc_test_prod_cliente_periods_agg = agg_periods(rcc_test_prod_cliente_agg, rangos, list_names)
rcc_test_prod_cliente_periods_agg.columns = ['C_'+ x if x not in ['key_value','PRODUCTO'] else x for x in rcc_test_prod_cliente_periods_agg.columns]

100%|███████████████████████████████████████████████████████████████████████████████████| 3/3 [07:42<00:00, 154.30s/it]
100%|███████████████████████████████████████████████████████████████████████████████████| 3/3 [07:57<00:00, 159.09s/it]

In [41]:
rcc_train_prod_cliente_periods_agg.to_hdf('../resources/mydata/rcc_train_PROD_cliente_periods_agg.h5', 'results_table', mode='w',format='table')

rcc_test_prod_cliente_periods_agg.to_hdf('../resources/mydata/rcc_test_PROD_cliente_periods_agg.h5', 'results_table', mode='w',format='table')

C:\Users\crist\.conda\envs\kaggle38\lib\site-packages\tables\leaf.py:353: RuntimeWarning: overflow encountered in long_scalars
  expected_mb = (expectedrows * rowsize) // MB

In [42]:
del rcc_train_prod_cliente_agg
del rcc_test_prod_cliente_agg
gc.collect()

89

In [43]:
del rcc_train_prod_cliente_periods_agg
del rcc_test_prod_cliente_periods_agg
gc.collect()

20

In [44]:
rcc_train_prod_cliente_agg = pd.pivot_table(rcc_train_prod_cliente,index=['PRODUCTO'], columns=['diff_month'],
                                            values=list(ft.keys()),aggfunc=ft,fill_value=0).reset_index()
rcc_train_prod_cliente_agg.columns = ['Prod_Cliente_'+x[0]+'_'+str(x[1])+'_'+str(x[2]) if x[0] not in ['PRODUCTO'] else x[0] for idx,x in enumerate(rcc_train_prod_cliente_agg.columns)]


rcc_test_prod_cliente_agg = pd.pivot_table(rcc_test_prod_cliente,index=['PRODUCTO'], columns=['diff_month'],
                                            values=list(ft.keys()),aggfunc=ft,fill_value=0).reset_index()
aux = rcc_test_prod_cliente_agg.columns
rcc_test_prod_cliente_agg.columns = ['Prod_Cliente_'+x[0]+'_'+str(x[1])+'_'+str(x[2]) if x[0] not in ['PRODUCTO'] else x[0] for idx,x in enumerate(rcc_test_prod_cliente_agg.columns)]

list_names = {}
for i in aux:
    if not i[0] in ['key_value','PRODUCTO']:
        list_names['Prod_Cliente_'+i[0]+'_'+i[1]]=None
list_names = list_names.keys()

In [45]:
rcc_train_prod_cliente_agg.to_hdf('../resources/mydata/rcc_train_PROD_agg.h5', 'results_table', mode='w',format='table')
rcc_test_prod_cliente_agg.to_hdf('../resources/mydata/rcc_test_PROD_agg.h5', 'results_table', mode='w',format='table')

In [46]:
rangos = [[0,2],[0,3],[0,4],[0,5],[0,6],[0,7],[0,8],[0,9],[0,11]]

rcc_train_prod_cliente_periods_agg = agg_periods(rcc_train_prod_cliente_agg, rangos, list_names)
rcc_train_prod_cliente_periods_agg.columns = ['C_'+ x if x not in ['PRODUCTO'] else x for x in rcc_train_prod_cliente_periods_agg.columns]

rangos = [[0,2],[0,3],[0,4],[0,5],[0,6],[0,7],[0,8],[0,9],[0,11]]

rcc_test_prod_cliente_periods_agg = agg_periods(rcc_test_prod_cliente_agg, rangos, list_names)
rcc_test_prod_cliente_periods_agg.columns = ['C_'+ x if x not in ['PRODUCTO'] else x for x in rcc_test_prod_cliente_periods_agg.columns]

100%|████████████████████████████████████████████████████████████████████████████████████| 9/9 [00:01<00:00,  6.91it/s]
100%|████████████████████████████████████████████████████████████████████████████████████| 9/9 [00:01<00:00,  7.39it/s]

In [47]:
rcc_train_prod_cliente_periods_agg.to_hdf('../resources/mydata/rcc_train_PROD_periods_agg.h5', 'results_table', mode='w',format='table')

rcc_test_prod_cliente_periods_agg.to_hdf('../resources/mydata/rcc_test_PROD_periods_agg.h5', 'results_table', mode='w',format='table')